* {
    margin: 0;
    padding: 0;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    /* background: #9db2c4; */
    background: linear-gradient(180deg, rgb(146, 135, 135), rgb(230, 221, 221) );
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {

        background: #2b2f3d;
        overflow-x: hidden;
}

header {
    display: flex;
}

nav {
    width: 100%;
    margin: 2% auto;

}

.navigation {
    width: 85%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.second-box a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.lang {
    width: 300px;
    display: flex;
    justify-content: left;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.lang li{
    margin-left: 10%;
}

.lang li a {
    color: white;
    text-decoration: none;

}

#no-hover {
    position: initial;
    position: relative;
    top: 0.2em;
    box-shadow: initial;
}

.links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
    width: 300px;
    font-weight: 400;
    color: white;
}

.links li {
    margin-left: 20%;
}

 li a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

li {
    
    position: relative;
    transition: 0.5s;
    top: 0.2em
}
li:hover {
    top: 0;
}

li:hover a {
    text-shadow: 2px 5px 5px #3f75da;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15px;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: white;

}
/* Beginning of title */

.title svg{
 margin: 0 auto;
 position: relative;
 top: 15vh;
}

.title h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 3px black;
    
}

.title h2 {
    font-size: 1.5rem;
position: relative;
top: 7vh;
color: #ffffff;
font-weight: bold;
text-shadow: 2px 2px 3px rgb(3, 30, 71);
}

.curvature {
    position: relative;
    bottom: 10vh;
    z-index: -1;
    }

.curved {
    background: #3f75da;
    color: #fff;
    text-align: center
}

.curved svg {
    display: block
}

.curved.upper {
    background: transparent;
    
}



#title2 {
    margin-top: 2%;
}

.about div{
   
    border-radius: 5px;
    padding: 20px 20px;
    
    font-weight: 400;
    font-size: x-large;
    text-align: center;
    color: rgb(232, 233, 235);
   /*  text-shadow: 2px 2px 3px rgb(40, 23, 49); */
    font-family: 'Raleway', sans-serif;
}

#about-title {
    font-size: xx-large;
   border-bottom: none;
 font-family: 'Orbitron', sans-serif;;
 text-shadow: 2px 2px 3px rgb(40, 23, 49);
}


.main-page {
    display: flex;
justify-content: space-around;
align-items: center;
flex-flow: wrap;
height: auto;
width: 75%;
margin: auto;

}

/* Beginning of boxes */

.outer-box {
    width: 300px;
    height: 300px;
    transition: 0.5s;
 margin-bottom: 5%;
 border-radius: 10px;
 margin: 2%;
}

.box {
    width: 100%;
    height: 100%;
    border: 5px solid #1a49a0;
    /* background-color: #8a2be2; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
   
    transition: 0.5s;
    
    overflow: hidden;
    box-sizing: border-box;
}

.outer-box:hover{
    
    width: 400px;
    height: 320px;
    box-shadow: 2px 2px 20px #72beeb;
    
    
}

.box:hover img{
    top: 1%;    
}

.box img {
    width: 60%;
    height: auto;
    border: 2px solid #1b60df;
    border-radius: 2px;
    position: relative;
    top: 80%;
    transition: 0.8s;
   /*  padding: 2%; */
}

.box p {
    position: relative;
    top: 80%;
    transition: 0.9s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}

.box:hover p {
    top: -2%;
}

.hidden {
    width: 50%;
    height: 40%;
   background-color: blueviolet;
}

.outer-second-box {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    width: 50px;
    height: 50px;
    background-color: #1b60df;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* display: none; */
}

/* Social button animations */

.box2-1{
    animation:1.5s positionSlide;
    animation-timing-function: ease-out;
}

.box2-2{
    animation: 1.25s positionSlide;
    animation-timing-function: ease-out; 
}

.box2-3{
    animation: 1s positionSlide;
    animation-timing-function: ease-out;
}

.second-box {
    transition: 0.2s;
}

.outer-second-box:hover .second-box {
box-shadow: 2px 3px 10px #72beeb;
transform: skewY(-4deg) translateY(-10%);

}

.second-box img {      
    width: 50%;
    height: auto
}



#social {
    display: flex;
justify-content: space-around;
align-items: center;
flex-flow: wrap;
height: inherit;
width: 30%;
margin: auto;
}

@keyframes positionSlide {
    0% {
      right: 2250%;
    }
    100% {
      right: 0%;
    }
  }

/* .box:nth-of-type(1){
  animation: 1.5s positionSlide;
    animation-timing-function: ease;
    
}

.box:nth-of-type(2){
    animation: 1.25s positionSlide;
    animation-timing-function: ease; 
}

.box:nth-of-type(3){
    animation: 1s positionSlide;
    animation-timing-function: ease; 
}

#portfolio2 .box:nth-of-type(1){
    animation: 1.625s positionSlide;
      animation-timing-function: ease-in-out;
      
  }
  
  #portfolio2 .box:nth-of-type(2){
      animation: 1.375s positionSlide;
      animation-timing-function: ease-in-out; 
  }
  
  #portfolio2 .box:nth-of-type(3){
      animation: 1.125s positionSlide;
      animation-timing-function: ease-in-out; 
  } */


.box h1 {
    font-weight: 700;
    font-size: xx-large;
    position: relative;
    top: 42%;
    transition: 0.5s;
}

.box:hover h1 {
    top: 1%;
}

.box .container {
    
    position: relative;
/* top: -11%; */
right: 100%;
    transition: 0.8s;
}

.box:hover .container {
    right: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5vh; */
    padding: 1%;
    
}

.container button {
    
    /* background: linear-gradient(45deg, #8a2be2, #a50ab9); */
    background: transparent;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 3px;
    transition: 0.27s;
}

.container button:hover {
    top: 0;
}

.container button a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    border: 2px solid #1b60df;
    border-radius: 5px;
    transition: 0.27s;
}

.container button a:hover {
    top: 0;
    box-shadow: 1px 1px 7px #72beeb;
}


.box2 h1 {
    font-weight: 700;
    font-size: large;

}
main h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: rgb(232, 233, 235);
    }

main h2 {
    font-weight: 400;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(232, 233, 235)
}





.second-section{
    width: 100%;
    height: 100%;

    position: relative;
 
 display: flex;
  justify-content: space-around; 
 align-items: center; 
    margin: 5% 0;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }



   

    @media (max-width: 1170px){
        .links {
            width: 200px;
    font-weight: 400;
        }

        .lang {
            width: 200px;
        }
    }

    @media (max-width: 1000px){
     
        .lang {
            width: 150px;
        }
    }

    @media (max-width: 908px){
        .title h1 {
            font-size: xx-large;
        }

        .title h2 {
            font-size: x-large;
            top: 4vh;
        }

        .title svg {
            top: 8vh;
        }

        .box2{
            height: 40px;
            width: 40px;
        }
        nav {
            margin-bottom: 5%;
        }
    }

    @media (max-width: 860px){
      .lang {
          width: 100px;
      }
        nav {
            margin-bottom: 10%;
        }
    }

    @media (max-width: 768px){
        .burger {
            display: flex;
            cursor: pointer;
        }

        .links {
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: #2b2f3d;
            width: 100%;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transform: translateY(-150%);
            transition: transform 0.5s ease-in;
            z-index: +1;
           
        }

        body {
            overflow-x: hidden;
        }

        .links li {
            opacity: 0;
            transition: 0.5;
        }
        #social {
            width: 40%;
        }

        nav {
            margin-bottom: 15%;
        }
    }

        .nav-active {
            transform: translateY(0%);
            overflow-y: hidden;
        }

        .links-active{
            opacity: 1;
            overflow: hidden;
        } 

    

    

 /*  @media screen and (max-width: 600px){
      #break-at-725 {
          display: block;
      }
  } */

  

 @media screen and (max-width: 633px){
    
        

        .navigation {
            justify-content: flex-end;
        }

        .curvature {
            margin-top: 20%;
        }

        .box2 {
            width: 30px;
            height: 30px;
            border-radius: 10px;
        }

        #social {
            width: 60%;
            justify-content: center;
        }

        .outer-second-box {
            width: 45px;
            height: 45px;
        }
 }

 @media screen and (max-width: 480px){
   .title h1 {
       font-size: x-large;
   }
    .title h2 {
        font-size: large;
        font-weight: 400;
    }

    .title svg {
        top: 6vh;
        width: 30px;
    }

    .box h1 {
        font-size: x-large;
    }

    .box p {
        font-size: small;
    }
    #my-projects {
        font-size: x-large;
    }
    .outer-box {
        width: 200px;
        height: 200px;
    }

    .outer-box:hover {
        width: 280px;
        height: 210px;
    }
}

@media screen and (max-width: 480px){
    .title h2 {
        top: 2vh;
    } 
    
    .title svg {
         top: 5vh;
         width: 25px;
     } 

    .box .container button {
         transform: scale(0.7, 0.7);
     }

     .box img {
         width: 50%;
     }

     body {
         overflow-x: hidden;
     }

 }

 @media (max-width: 359px){
    .box p {
        font-size: x-small;
    }
}

    /* SVG Wheel */


    @keyframes scroll {
        0% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(60px);
        }
    }
    
    svg #wheel {
        animation: scroll ease 2s infinite;
    }


    

        footer {
            font-family: 'Montserrat';
            background: linear-gradient(180deg, #2b2f3d, rgb(34, 34, 44) );
            
    padding: 15px 23px;
    color: #fff;
    text-align: center;
        }

        footer span a{
            color: #6a9eff;
            text-decoration: none;
        }

        footer .copyright {
            font-size: 1.2em
        }